<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean id="userBean" class="com.example.User">
		<constructor-arg name="username" value="alex"></constructor-arg>
		<constructor-arg name="password" value="123456"></constructor-arg>
	</bean>
</beans>